table,th,tr,td {
    border: 3px solid rgb(9, 26, 26);
    border-collapse: collapse;
    background-color: rgb(168, 214, 199);
}
table {
    width: 100%;
}
td {
    padding: 20px;
    text-align: center;
}
body {
    background-color: rgba(190, 243, 233, 0.83);
}
td:nth-child(1) {
    width: 50px;
}
td:nth-child(2) {
    width: 700px;
}
td:nth-child(3) {
    width: 60px;
}
td:nth-child(4) {
    width: 600px;
}